body {
  font-family: Arial;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

@media (max-width: 600px) {
  table, thead, tbody, tr, td, th {
    display: block;
  }
}
