@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-gradient-to-br from-indigo-600 via-purple-600 to-purple-800 min-h-screen text-slate-900;
    }
}